@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wellcome to Library</title>

    <style>
        .pararaph {
            text-indent: 30px;
            text-align: justify;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
        }

        img {
            width: 60%;
            height: 50%;
        }
    </style>
</head>
<body>
    <h2><b><i>Wellcome to Library</i></b></h2>
    <div>
        <div class="pararaph">
            <center>
                <img src="https://elite-symbol.com/wp-content/uploads/2018/10/doc-sach-2.jpg" alt="books" />
            </center>
            <p>
                Từ xa xưa, đọc sách được coi là một việc hết sức thanh tao. Người đọc sách là người có phẩm chất cao quý, có phong cách của một cao nhân.
                Người đọc sách để đàm đạo những triết lý về đời sống, những kinh nghiệm trong lao động sản xuất và quản lý xã hội.
                Song người ta còn đọc sách để thưởng thức, chiêm nghiệm cái hay, cái đẹp, thấm thía ý nghĩa nhân văn thông qua nghệ thuật của người viết sách.
            </p>
            <center>
                <img src="https://bloganchoi.com/wp-content/uploads/2021/11/2466a17b21e6371ebc7a83ee36f6150e.jpg" alt="books" style="height:600px" />
            </center>
            <p>
                Có thể nói, sách là chiếc chìa khóa vạn năng mở cửa lâu đài trí tuệ và tâm hồn con người, là người thầy thắp sáng trong ta nguồn trí thức vô biên,
                dạy chúng ta biết sống và biết hy sinh, sách còn người bạn tâm giao chia sẻ mọi nỗi buồn vui sâu kín của mỗi con người. Và từ lâu, đọc sách đã trở thành một nhu cầu cần thiết của xã hội.
                Đọc sách còn thể hiện nét văn hóa trong đời sống, đặc biệt là trong đời sống học đường.
            </p>
            <center>
                <img src="https://images1.content-hci.com/commimg/myhotcourses/blog/post/myhc_96822.jpg" alt="book" />
            </center>
            <p>
                Tuy nhiên trong những năm gần đây, với sự phát triển của CNTT phong trào đọc sách có chiều hướng đi xuống.
                Nhưng cho dù xã hội ngày càng phát triển cao hơn, con người có thể tìm kiếm, khai thác thông tin,
                kiến thức trong thư viện điện tử hay qua mạng internet thì sách vẫn không thể mất đi giá trị truyền thống lâu đời vốn có của nó, gắn bó với con người trong hàng ngàn năm lịch sử.
                Và cho đến tận hôm nay, sách vẫn là nguồn sống quý giá nhất mà không có món ăn tinh thần nào có thể so sánh được.
            </p>
        </div>
    </div>

</body>
</html>


